{% extends 'base.html'%}

{% block tittle %}
<title>Правила доставки</title>
{% endblock %}

{% block body %}
<div class="container">
  <h1>Правила доставки</h1>
    <p>Правило «45 минут или пицца бесплатно» действует с воскресенья по четверг (с 22:00 до 03:00 действует правило «60 минут или пицца бесплатно»). В воскресенье с 00:00 до 10:00, пятницу, субботу, предпраздничные и праздничные дни действует правило «60 минут или пицца бесплатно». Компания оставляет за собой право изменять время действия правил доставки «45 минут или пицца бесплатно» и «60 минут или пицца бесплатно», предупреждая об этом Клиента в момент оформления заказа.</p>
</div>

{% endblock %}