{% extends 'base.html'%}

{% block tittle %}
<title>Регистрация</title>
{% endblock %}

{% block body %}
<div class="container">
  <h1>Регистрация</h1>
   <form method="post">
     <input type="text" class="form-control" name="name" id="name" placeholder="Ваше имя"><br>
     <input type="text" class="form-control" name="address" id="address" placeholder="Ваш адрес доставки"><br>
       <input type="text" class="form-control" name="phone" id="phone" placeholder="Мобильный телефон"><br>
       <input type="text" class="form-control" name="password" id="password" placeholder="Придумайте пароль"><br>
     <button class="btn btn-success" type="submit">Зарегистрироваться</button>
   </form>
</div>

{% endblock %}